h1{
    color: violet;
    font-family: Arial, Helvetica, sans-serif;
}

.tabla {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.fila {
    display: flex;
}

.encabezado {
    background-color: #ee71ff;
    font-weight: bold;

}

.celda {
    border: 1px solid #f795f7;
    padding: 8px;
    flex: 1;
    text-align: left;
}

.encabezado .celda {
    background-color: #e693ff;
}

